.edit-profile-container {
  position: fixed;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  /* align-items: center; */
  overflow: auto;
  z-index: 10;
}

.edit-profile-content-container {
  position: fixed;
  top: 25%;
  padding: 23px;
  width: 100%;
  max-width: 500px;
  height: 400px;
  background-color: white;
}

.edit-profile-content-container .edit-profile-content-container__button {
  position: absolute;
  top: 16px;
  right: 16px;
}

.edit-profile-content-container__button:hover {
  cursor: pointer;
  border-style: solid;
  border-width: 2px;
}
.edit-profile-content-container__h3 {
  position: absolute;
  margin-top: 0;
  padding: 0;
  top: 16px;
  left: 16px;
}

/* PROFILE EDIT DETAILS */
.edit-profile-content-container__form {
  position: relative;
  position: absolute;
  top: 75px;
}
.edit-profile-content-container__form__label {
  font-weight: 500;
  font-size: large;
  float: left;
  margin-bottom: 15px;
}
.edit-profile-content-container__form__textarea,
.edit-profile-content-container__form__input {
  float: right;
  width: 400px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.edit-profile-content-container__form__submit {
  position: relative;
  margin-top: 5px;
  background-color: darkseagreen;
  border-radius: 5px;
  border: none;
  float: right;
  margin-right: 22px;
}

.edit-profile-content-container__form__submit:hover {
  cursor: pointer;
  border-style: solid;
  border-width: 2px;
}
