/* FOLLOWING BEM */

._button {
  background-color: darkseagreen;
  text-align: center;
  font-size: 15px;
  min-width: 75px;
  height: 25px;
  width: auto;
  border-radius: 6px;

  cursor: pointer;
}

/* card background color*/
.profile-card-background {
  background-color: white;
}
.profile-card-background:hover {
  box-shadow: 2px 2px 2px lightgray;
}

/* MAIN USER HANDLE */
.profile-user-handle-container {
  position: relative;
  min-width: 500px;
  width: 33%;
  height: 150px;
  margin-bottom: 20px;
  border-bottom: 1px solid grey;
}
.profile-picture-container {
  width: 33%;
  min-width: 100px;
  float: left;
}

.profile-picture-container__image {
  margin: 10px;
  padding: 8px;
  background-color: darkseagreen;
  border-radius: 100%;
  border-width: 2px;
  border-style: double;
  width: 100px;
  height: 100px;
}

.profile-user-handle-infotmation-container {
  text-align: left;
  width: 56%;
  float: left;
}
.profile-user-handle-container__h1 {
  margin-top: 20px;
  margin-bottom: 0px;
}

.profile-user-handle-container__h2 {
  margin: 0px;
}
.profile-user-handle-container__h3 {
  margin: 0px;
  color: rgb(65, 65, 65);
}
.profile-user-handle-button-container {
  float: left;
  width: 11%;
  height: 100%;
}
.profile-user-handle-container__button {
  position: relative;
  top: 10px;
  left: 10px;
  height: 20%;
  width: 100%;
  padding: 0px;

  background-color: transparent;
}

.profile-user-handle-container__button__img {
  width: 110%;
  height: 110%;
}
.profile-user-handle-container__button__img:hover {
  cursor: pointer;
  position: relative;
  right: 3px;
  width: 120%;
  height: 120%;
}
/* REST OF PAGE */
.profile-container {
  position: relative;
  margin-bottom: 20px;
  /* height: auto; Might need to bring back */
  /* min-width: 300px; */
  width: 100%;
  border: 1px solid lightgrey;
  border-width: 2px;
  border-radius: 20px;
}
.profile-contents-container {
  position: relative;
  text-align: left;

  margin: 20px;
  min-height: 250px;
  height: auto;
  max-height: 800px;
}

.profile-contents-container__h1 {
  position: relative;
  margin-top: 0px;
}

.profile-contents-container__p,
.profile-contents-container__li {
  position: relative;
  /* top: 50px; */
  font-size: 18px;
  font-weight: 500;
}
.profile-contents-container__button:hover {
  cursor: pointer;
  border-style: solid;
  border-width: 2px;
}

.profile-contents-container__ul {
  position: relative;
  list-style: " ⭐";
}

/* COURSES */
.courses {
  max-height: 250px;
}
.courses__p {
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 18px;
}
#add_course_container {
  height: 50px;
  position: relative;
  border: 1px solid grey;
}
#add_course_input {
  width: 150px;
  margin-right: 10px;
}
#dates {
  text-align: center;
  width: 150px;
  height: 28px;
  margin-right: 10px;
}
#courses {
  position: absolute;
  top: 50px;
  text-align: center;
}

#course {
  height: 100px;
  border-bottom: 1px solid grey;
  /* overflow: auto; */
}
#course_name {
  margin-right: 20px;
}

/* GROUP AND REPORTED CONTENT */
.group{
  background-color: #f0f0f0;
  border-radius: 10px;
  margin: 8px 0px;
  /*color: black;*/
}
.group-content{
  padding-left: 10px;
  padding-right: 10px;
  /*background-color: #c7dec7;*/
  /*color: white;*/
}
.group-content-container
.description{
  margin: 0px 10px 0px 0px;
}
.post-section-card {
  width: 100%;
  padding-top: 0px;
  padding-bottom: 10px;
}
.post-section-card
hr{
  width: 90%;
  float: left;
  margin: 0px;
  padding: 0px;
  border-top: 1px solid black;
}
.post-section-card
.creator-name-link{
  font-size: 16px;
  font-weight: 500;
}
.post-section-card
.small-br{
  display: block;
  margin: 1px 0px;
}

.post-section-card
a {
  margin: 0px;
  padding: 0px;
}
.post-section-card
h2,h3,h4,h5 {
  font-weight: 600;
  margin: 0px;
  padding: 0px;
}

.group-content,
.reported-content {
  position: relative;
  height: auto;
  float: left;
  margin-top: 0px;
  /* margin-right: 20px; */
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  width: 42%;
}
.user-list,
.groups-list {
  position: relative;
  width: 100%;
  overflow: auto;
  height: 500px;
  border-top: 1px solid black;
  padding-right: 5px;
  padding-left: 5px
}

.user,
.group {
  /* min-height: 100px;
  height: auto; */
  height: auto;
  width: 100%;
  /* min-height: 100px; */
  padding-bottom: 5px;
  padding-top: 10px;

  /*border-bottom: 2px solid gray;*/
  overflow: hidden;
}
/* .group-image-container {
  float: left;
  height: 100px;
  width: 100px;
  background-color: darkseagreen;
  border-radius: 100%;
} */
.user-content-container,
.group-content-container {
  min-height: 100px;
  height: auto;
  float: left;
  margin-left: 20px;
}
.user-content-container__h2,
.group-content-container__h2 {
  margin-top: 0px;
}
.user-content-container__h3,
.group-content-container__h3 {
  margin-top: 0px;
  margin-bottom: 5px;
}
.user-content-container__h4,
.group-content-container__h4 {
  margin-top: 0px;
  margin-bottom: 5px;
}

.group-content-container-meeting {
  display: block;
}
.text {
  font-weight: 500;
  font-size: 18px;
  display: inline;
}
.group-content-container-link {
  display: inline;
  text-decoration: #2196f3;
}
.group-member-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px 0px 0px;
}
.group-member-list-member {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0px 6px;
  float: left;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: darkslategrey;
  color: white;
}
/* .group-member-list-member:hover {*/
/*  cursor: pointer;*/
/*}*/
.group-member-list-member
.member-name-link{
  color: white;
  font-size: 14px;
}

.group-button-container {
  /*margin-top: 10px;*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  float: right;
}
.reported-user-handle-container__button,
.group-button-container__button {
  color: white;
  width: 105px;
  height: 50px;
  background-color: darkseagreen;
  text-align: center;
}

.group-button-container__button--red {
  background-color: #cd5c5c;
}
.reported-user-handle-container__button:hover,
.group-button-container__button:hover {
  cursor: pointer;
  /*border-color: black;*/
  /*border-style: solid;*/
  /*border-width: 2px;*/
  box-shadow: 2px 2px 1px darkgray;
}

.reported-user-handle-container {
  position: relative;
  width: 100%;
  height: 150px;
  border-bottom: 1px solid grey;
}
.reported-user-picture-container {
  width: 50px;
  float: left;
}

.reported-user-picture-container__image {
  margin: 10px;
  padding: 8px;
  background-color: darkseagreen;
  border-radius: 100%;
  border-width: 2px;
  border-style: double;
  width: 100px;
  height: 100px;
}

.reported-user-handle-infotmation-container {
  text-align: left;
  width: 400px;
  /*float: left;*/
  margin-left: 150px;
  padding-top: 10px;
}
.reported-user-handle-infotmation-container__h1 {
  margin-top: 10px;
  margin-bottom: 0px;
}

.reported-user-handle-infotmation-container__h2 {
  margin: 0px;
}
.reported-user-handle-infotmation-container__h3 {
  margin: 0px;
  color: rgb(65, 65, 65);
}
.reported-user-handle-button-container {
  position: absolute;
  top: 0;
  right: 0;
  /*align-items: center;*/
  /*justify-content: center;*/
  /*float: right;*/
  /*height: 100%;*/
  width: 125px;
}
