/* FOLLOWING BEM */

/* tr {
  font-weight: 2;
  font-size: large;
} */

._button {
  background-color: darkseagreen;
  /* border: none; */
  text-align: center;
  font-size: 15px;
  min-width: 75px;
  height: 25px;
  width: auto;
  border-radius: 6px;

  cursor: pointer;
}

/* card background color*/
.profile-card-background{
  background-color: white;
}
.profile-card-background:hover{
  box-shadow: 2px 2px 2px lightgray;
}

/* MAIN USER HANDLE */
.profile-user-handle-container {
  position: relative;
  width: 500px;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid grey;
}
.profile-picture-container {
  width: 100px;
  float: left;
}
.profile-picture-container {
  width: 100px;
  float: left;
}
.profile-photo-grid-container {
  display: none;
  grid-template-columns: auto auto auto;
  background-color: #2196f3;
  padding: 10px;
}
.grid-photo {
  display: none;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
/* .profile-picture-dropdown {
  position: relative;
  display: inline-block;
}
.profile-picture-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
*/
.profile-picture-container__image:hover .profile-photo-grid-container {
  display: grid;
}
.profile-picture-container__image {
  margin: 10px;
  padding: 8px;
  background-color: darkseagreen;
  border-radius: 50%;
  border-width: 2px;
  border-style: double;
  width: 100px;
  height: 100px;
}
.profile-picture-container__image:hover {
  cursor: pointer;
}

.profile-user-handle-container__h1 {
  float: left;
  margin-top: 5px;
  margin-left: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.profile-user-handle-container__h2 {
  position: absolute;
  top: 30px;
  left: 135px;

  /* margin-top: 0px;
  margin-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px; */
}

.profile-user-handle-container__h3 {
  position: absolute;
  top: 80px;
  left: 135px;
  color: rgb(65, 65, 65);
}
.profile-user-handle-container__button {
  position: absolute;
  right: 0px;
  width: 30px;
  height: 55px;
  background-color: transparent;
}

.profile-user-handle-container__button:hover {
  cursor: pointer;
}

.profile-user-handle-container__button__img {
  position: absolute;
  top: 0px;
  margin: 0px;
  width: 30px;
  height: 55px;
}
.profile-user-handle-container__button__img:hover {
  width: 35px;
  height: 60px;
}
/* USER BIO */
.profile-container {
  position: relative;
  margin-bottom: 20px;

  min-height: 250px;
  height: auto;
  max-height: 800px;
  width: 500px;

  border-style: dashed;
  border-radius: 20px;
}
.contents-container {
  text-align: left;

  margin: 20px;
  min-height: 250px;
  height: auto;
  max-height: 800px;
}

.contents-container__h1 {
  position: absolute;
  margin-top: 0px;
}

.contents-container__p {
  position: absolute;
  top: 50px;
  font-size: 18px;
  font-weight: 500;
}
.contents-container__button:hover {
  cursor: pointer;
  border-style: solid;
  border-width: 2px;
}

/* #edit_button {
  border-radius: 6px;
  position: absolute;
  right: 38px;
  bottom: 20px;
} */
/* #settings {
  position: absolute;
  background-color: transparent;
  border: none;
  top: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
} */
/* .icon {
  position: relative;
  right: 5px;
  width: 50px;
  height: 50px;
} */

.contents-container__ul {
  list-style: none;
  list-style: " ⭐";
  position: absolute;
  left: 0px;
  top: 50px;
}
.contents-container__li {
  font-weight: 500;
  font-size: large;
}

/* COURSES */

.courses {
  max-height: 250px;
}
#add_course_container {
  height: 50px;
  position: relative;
  border: 1px solid grey;
}
#add_course_input {
  width: 150px;
  margin-right: 10px;
}
#dates {
  text-align: center;
  width: 150px;
  height: 28px;
  margin-right: 10px;
}
#courses {
  position: absolute;
  top: 50px;
  text-align: center;
}

#course {
  height: 100px;
  border-bottom: 1px solid grey;
  /* overflow: auto; */
}
#course_name {
  margin-right: 20px;
}

.groupContent {
  position: relative;
  height: auto;
  float: right;
  margin-top: 0px;
  margin-left: 20px;
  text-align: left;
  padding-left: 20px;
  width: 45%;
}
.groupsList {
  width: 80%;
  height: auto;
  list-style: none;
}

.group {
  height: 150px;
  width: 100%;
  /* min-height: 100px; */
  padding-bottom: 5px;
  padding-top: 10px;

  border-bottom: 1px solid black;
}
.group-image-container {
  float: left;
  height: 100px;
  width: 100px;
  background-color: darkseagreen;
  border-radius: 100%;
}
.group-content-container {
  height: auto;
  float: left;
  margin-left: 20px;
}

.group-content-container__h2 {
  margin-top: 0px;
}

.group-content-container__h3 {
  margin-top: 0px;
  margin-bottom: 5px;
}
.group-content-container__h4 {
  margin-top: 0px;
  margin-left: 20px;
}

.group-content-container-meeting {
  display: block;
}
.text {
  font-weight: 500;
  font-size: 18px;
  display: inline;
}
.group-content-container-link {
  display: inline;
  text-decoration: #2196f3;
}
.reported_users {
  position: relative;
  top: 50px;
}
.reported_user {
  margin-bottom: 20px;
}

#tags_container {
  margin-left: 0px;
}
