.header{
    height: 70px;
    box-shadow: 0px 4px 5px -5px #888888;
    border: 0px;
    background: white;
}

.title{
    margin: 15px 2px 0px 10px;
    float: left;
    font-size: 30px;
}

a{
    padding: 8px 10px 8px 10px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    text-decoration:none;
    color: black;
    justify-content: center;
}

.manage_btn{
    float: right;
    margin-left: 10px;
    background: #F0F0F0;
}

.create_btn{
    float: right;
    margin-left: 10px;
    background: #F0F0F0;
    padding: 8px 8px 8px 8px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    text-decoration: none;
    color: black;
    cursor:pointer;
    font-family: Segoe UI;
}

.profile_btn{
    padding: 8px;
    background-color: darkseagreen;
    border-radius: 50%;
    margin: 15px 10px 0px 10px;
    width: 30px;
    height: 30px;
    float: right;

}
