# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
connect-uoft-frontend/node_modules
connect-uoft-frontend/.pnp
connect-uoft-frontend.pnp.js

# testing
connect-uoft-frontend/coverage

# production
connect-uoft-frontend/build

# misc
connect-uoft-frontend/DS_Store
connect-uoft-frontend/env.local
connect-uoft-frontend/env.development.local
connect-uoft-frontend/env.test.local
connect-uoft-frontend/env.production.local

connect-uoft-frontend/npm-debug.log*
connect-uoft-frontend/yarn-debug.log*
connect-uoft-frontend/yarn-error.log*

node_modules
connect-uoft-frontend/build
mongo-data/


npm-debug.log*
yarn-debug.log*
yarn-error.log*

# intellij
.idea
