.gridBox {
    left: 200px !important;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(Min(20em, 100%), 1fr));
    grid-template-rows: masonry;
    justify-content: center;
    grid-gap: 10px;
    padding: 10px;
}

.mainSearchContainer {
    height: 100% !important;
    width: 160px;
    padding-left: 20px;
    top: 80px;
    left: 0;
    background: none;
    position: fixed;
    padding-top: 20px;
    z-index: 1;
}

.searchBar {
    width: 160px;
}