tr,
label,
li {
  font-weight: 500;
  font-size: large;
}

._button {
  background-color: darkseagreen;
  /* border: none; */
  text-align: center;
  font-size: 15px;
  min-width: 75px;
  height: 25px;
  width: auto;
  border-radius: 6px;

  cursor: pointer;
}
#profile_user_handle {
  background-color: white;
  width: 400px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid grey;
}
.profile_picture_container {
  width: 60px;
  float: left;
}
.profile_picture {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 8px;
  background-color: darkseagreen;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

#username {
  float: left;
  margin-top: 5px;
  margin-left: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#user_email {
  position: absolute;
  top: 30px;
  left: 96px;

  /* margin-top: 0px;
  margin-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px; */
}

.pcontainer {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  text-align: left;
  min-height: 250px;
  height: auto;
  max-height: 800px;

  width: 500px;
  background: #f0f0f0;
  border-radius: 20px;
}

.section_title {
  position: absolute;
  margin-top: 0px;
}

#bio {
  position: absolute;
  top: 50px;
  resize: none;
}

#edit_button {
  border-radius: 6px;
  position: absolute;
  right: 38px;
  bottom: 20px;
}
/* #settings {
  position: absolute;
  background-color: transparent;
  border: none;
  top: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
} */
/* .icon {
  position: relative;
  right: 5px;
  width: 50px;
  height: 50px;
} */

/* PROFILE DETAILS */
#profile_details {
  position: relative;
  position: absolute;
  top: 75px;
}
.detail_input {
  width: 300px;
  margin-bottom: 10px;
}
#detail_submit {
  position: relative;
  left: 50%;
}

#stats {
  position: relative;
  top: 25px;
}
/* COURSES */
#add_course_container {
  height: 50px;
  position: relative;
  border: 1px solid grey;
}
#add_course_input {
  width: 150px;
  margin-right: 10px;
}
#dates {
  text-align: center;
  width: 150px;
  height: 28px;
  margin-right: 10px;
}
#courses {
  position: absolute;
  top: 50px;
  text-align: center;
}

#course {
  height: 100px;
  border-bottom: 1px solid grey;
  /* overflow: auto; */
}
#course_name {
  margin-right: 20px;
}

.groups {
  position: relative;
  top: 50px;
}
.group {
  margin-bottom: 20px;
}

.reported_users {
  position: relative;
  top: 50px;
}
.reported_user {
  margin-bottom: 20px;
}
