.posting.posting-card {
    position: relative;
    border: solid;
    border-radius: 16px;
    width: 350px;
    text-align: left;
    padding-bottom: 20px;
}
.posting button:hover{
    box-shadow: 2px 2px 1px darkgray;
}
.applicant-btn {
    background-color: #F0F0F0;
}

.posting-card h4{
    margin: 0px;
}
.posting-card h2{
    margin-bottom: 0px;
}
.posting-card .posting-card-title{
    max-width: 70%;
}

.posting-card hr{
    width: 100%;
}

.posting-creator{
    padding-left: 10px;
}

.tag-section{
    margin-left: 4px;
}
.posting-text {
    margin-left: 10px;
}

.posting-desc {
    height: 200px;
}

.top-right-btn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 10px 0px 0px;
    padding: 10px 14px;
    background: darkseagreen;
    color: white;
}

.applicant.list-item{

}
.applicant .row1{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

.applicant-profile{
    display: flex;
    cursor: pointer;
}
.applicant-name{
    margin-left: 5px;
}
.application-msg{
    margin-left: 10px;
}

.hr-dotted{
    border-top:1px dotted darkseagreen;
    width: 320px;
}

.green-text{
    color: seagreen;
    margin: 0px;
}
.comment{
    margin-left: 10px;
}

