.manage-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(Min(23em, 100%), .2fr));
    grid-template-rows: masonry;
    margin-left: 0px;
    grid-gap: 3px;
    padding: 10px;
}